<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"] = "Bid Data") - Assel</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mvc-grid.css">
    <link rel="stylesheet" href="~/css/toastr.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/css/mvc-grid.css">

    <script>
        var baseUrl = "@Url.Content("~")";
    </script>

    <style>
        .table-hover tbody tr:hover {
            background-color: #f7f7f7;
        }

        .table-hover {
            font-size: 14px !important;
        }

        .pager-styler {
            font-size: 12px !important;
            float: left;
        }

        .blockMsg {
            border: none !important;
            background-color: transparent !important;
            /*top: 50% !important;*/
        }

        .blockOverlay {
            z-index: 1050 !important;
            opacity: 0.2 !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>

    <script src="~/js/jquery.mask.min.js"></script>
    <script src="~/js/jquery.maskMoney.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)

    <script src="~/js/mvc-grid.js"></script>
    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="~/js/jquery.blockUI.js"></script>

    <div class="container body-content b-content">
        @RenderBody()
    </div>

    <script>
        //<ev-grid>
        document.addEventListener('reloadend', function () { 
            $.unblockUI();
        });

        document.addEventListener('reloadstart', function () {
            $.blockUI({
                message: "<img src=\"" + window.location.origin + baseUrl + "/images/load01.gif\" height=\"100\"/>"
            });
        });
        //</ev-grid>

        $(document).ready(function () {
            $(document).ajaxStart(function () {
                $.blockUI({
                    message: "<img src=\"" + window.location.origin + baseUrl + "/images/load01.gif\" height=\"100\"/>"
                });
            }).ajaxStop(function () {
                $.unblockUI();
            });

            $('#ModalMain').on('hidden.bs.modal', function (e) {
                $("#ModalMainContent").empty();
            });

            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                language: 'pt-BR',
                todayHighlight: true,
                autoclose: true,
                orientation: 'bottom left'
            });
        });
    </script>

    <!-- Modal -->
    <div id="ModalMain" style="overflow:hidden;" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" id="ModalMainContent"></div>
        </div>
    </div>
</body>
</html>
