@model LoginViewModel

<div class="row">
    <div class="col-md-4 col-sm-12" style="border: 1px solid #ececec; background-color: #fdfdfd; border-radius: 5px; margin: 0 auto; float: none; margin-top: 30px;">
        <section>
            <h2>@(ViewData["Title"] = "Log in")</h2>
            <form asp-route-returnurl="@(Url.Content("~"))/Dashboard/Index" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control font-free" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control font-free" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Entrar</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">Esqueci minha senha</a>
                    </p>
                    <p>
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Cadastrar novo usuário</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
