@{
    ViewData["Title"] = "Confirmação de Alteração de Senha";
}

<h2>@ViewData["Title"]</h2>
<p>
    Sua senha foi resetada. Por favor <a asp-action="Login">click aqui para logar novamente</a>.
</p>
