::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b1b1b1;
    }

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.b-content {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.btn-left-zero {
    margin-left: 0px !important;
}

label {
    margin-bottom: 0px !important;
}

.form-control {
    text-transform: uppercase;
}

.font-free {
    text-transform: none!important;
}

.padding-adjust {
    padding: 0px 0px 15px 0px !important;
}

.padding-adjust-last {
    padding: 15px 0px 15px 0px !important;
}
.padding-zero {
    padding: 0px !important;
}

.btn + .tooltip > .tooltip-inner {
    padding:8px 12px!important;
}
