.padding-adjust {
    padding: 0px 0px 15px 0px !important;
}

.padding-adjust-last {
    padding: 15px 0px 15px 0px !important;
}

.padding-zero {
    padding: 0px !important;
}

.ckb-area {
    padding: 0 0 0 0 !important;
    /*line-height: 1.42857143;*/
    border-top: 1px solid #ccc;
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
}

    .ckb-area label {
        float: left;
        padding-right: 10px;
        white-space: nowrap;
    }

        .ckb-area label span {
            vertical-align: middle;
            margin-left: 2px;
        }

    .ckb-area input {
        vertical-align: middle;
        margin-top: 1px !important;
    }

.add-link {
    margin-left: 5px;
}

#accordion {
    margin-top: 15px !important;
}

.grid-collumn-del {
    width: 60px;
}

.grid-collumn-edt {
    width: 62px;
}

.grid-collumn-tipo-contato {
    width: 150px;
}

.grid-collumn-dateinsert {
    width: 140px;
}

.new-contato {
    margin-bottom: 10px;
}

.btn-ver-foto {
    width: 100%;
}

    .btn-ver-foto > .glyphicon-picture {
        margin-right: 5px;
    }

#IFoto {
    margin-top: 6px;
}
