<style>
    .tab-principal {
        border: 1px solid #ddd;
        border-top: none;
        padding: 10px;
    }

    .pager-styler {
        font-size: 12px !important;
    }

    .grid-collumn-dateinsert {
        width: 140px;
    }

    .table-hover > tbody > tr > td.grid-collumn-dateinsert {
        text-align: center;
    }

    .grid-collumn-del {
        width: 60px;
    }

    .grid-collumn-edt {
        width: 62px;
    }
</style>

<script>
    $(document).ready(function () {
        $(".tab-principal").height($(window).height() - 205);
        $(window).resize(function () {
            $(".tab-principal").height($(window).height() - 205);
        });
    });

    function GridAreaAtuacaoEdt(id) {
        $.ajax({
            type: "POST",
            url: '/Dashboard/EdtAreaAtuacao',
            datatype: "Application/Json",
            data: { id: id },
            success: function (result) {
                $("#ModalMainContent").html(result);
                $("#ModalMain").modal("show");
            },
            error: function () {
                DefaultErrorAlert();
            }
        });
    }

    function GridAreaAtuacaoDel(id) {
        $.ajax({
            type: "POST",
            url: '/Dashboard/DelAreaAtuacao',
            datatype: "Application/Json",
            data: { id: id },
            success: function (result) {
                $("#ModalMainContent").html(result);
                $("#ModalMain").modal("show");
            },
            error: function () {
                DefaultErrorAlert();
            }
        });
    }
</script>

<h2>Cadastro de Advogado</h2>

<ul class="nav nav-tabs" id="advCadTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="tab-adv" data-toggle="tab" href="#tab-c-advogado" role="tab" aria-selected="true">Advogados</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" id="tab-att" data-toggle="tab" href="#tab-c-atuacao" role="tab" aria-selected="false">Área de Atuação</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-sit" data-toggle="tab" href="#tab-c-situacao" role="tab" aria-selected="false">Situação</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-t-cont" data-toggle="tab" href="#tab-c-contato" role="tab" aria-selected="false">Tipo de Contato</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="tab-t-end" data-toggle="tab" href="#tab-c-endereco" role="tab" aria-selected="false">Tipo de Endereço</a>
    </li>
</ul>
<div class="tab-content" id="advCadTabContent">
    <div class="tab-principal tab-pane" id="tab-c-advogado" role="tabpanel">A</div>
    <div class="tab-principal tab-pane active in" id="tab-c-atuacao" role="tabpanel" style="overflow-y:auto; overflow-x:hidden;">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom:10px;">
                <button class="btn btn-primary" onclick="GridAreaAtuacaoEdt(0);" data-toggle="modal" data-target="#ModalMain"><i class="glyphicon glyphicon-plus"></i> Novo</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.AjaxGrid(Url.Action("GridAreaAtuacao"))
            </div>
        </div>
    </div>
    <div class="tab-principal tab-pane" id="tab-c-situacao" role="tabpanel">C</div>
    <div class="tab-principal tab-pane" id="tab-c-contato" role="tabpanel">D</div>
    <div class="tab-principal tab-pane" id="tab-c-endereco" role="tabpanel">E</div>
</div>

