.rep-user-work-cel {
    margin-top: 10px;
    border: 1px solid #2e6da4;
    padding: 0px;
    border-radius:4px;
}

    .rep-user-work-cel > div {
        padding:10px!important;
    }

        .rep-user-work-cel > div:first-child {
            background-color: #337ab7;
            color: white;
            font-weight: bold;
        }
