@model IEnumerable<SystemModels.Advogado.AdvogadoContatoModel>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => $"<button class=\"btn btn-danger\" onclick=\"GridSituacaoDel({model.Id});\"><i class=\"glyphicon glyphicon-remove\"></i></button>").Css("grid-collumn-del").Encoded(false);
        columns.Add(model => $"<button class=\"btn btn-warning\" onclick=\"GridSituacaoEdt({model.Id});\"><i class=\"glyphicon glyphicon-pencil\"></i></button>").Css("grid-collumn-edt").Encoded(false);
        columns.Add(model => model.TipoContato).Css("grid-collumn-tipo-contato").Titled("Tipo");
        columns.Add(model => model.Contato).Titled("Contato");
        columns.Add(model => model.Date).Css("grid-collumn-dateinsert").Formatted("{0: dd/MM/yyyy HH:mm}").Titled("Data");
    })
    .Empty("Nenhum Item encontrado")
    .Id("GridAdvogadoContato")
    .Pageable(pager =>
    {
        pager.RowsPerPage = 6;
        pager.CssClasses = "pager-styler";
    })
    .AppendCss("table-hover")
)