<script src="~/js/Views/Dashboard/Advogado/Reports/QuantidadeUserWork.js"></script>
<link rel="stylesheet" href="~/css/Views/Dashboard/Advogado/Reports/QuantidadeUserWork.css" />

<div class="row">
    <div class="col-sm-12">
        <a class="btn btn-primary refresh-report-user-work"><i class="glyphicon glyphicon-refresh"></i></a>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="col-sm-12 rep-user-work-cel">
            <div class="col-sm-12">Mês Passado</div>
            <div class="col-sm-12 mes-passado"></div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="col-sm-12 rep-user-work-cel">
            <div class="col-sm-12">Mês Atual</div>
            <div class="col-sm-12 mes-atual"></div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="col-sm-12 rep-user-work-cel">
            <div class="col-sm-12">Nesta Semana</div>
            <div class="col-sm-12 nesta-semana"></div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12">
        <div class="col-sm-12 rep-user-work-cel">
            <div class="col-sm-12">Hoje</div>
            <div class="col-sm-12 total-hoje"></div>
        </div>
    </div>
</div>